 .meili-shoppc-module-custom{min-height:40px;width:100%}.meili-shoppc-module-custom .meditor_image{display:inline-block;max-width:none}.meili-shoppc-module-custom .tips{text-align:center;line-height:40px;font-size:16px;color:#333;background:#f5f5f5}.meili-shoppc-module-custom img{vertical-align:middle}</style><style type="text/css">
.slider-container[data-v-012369dc]{
  overflow: hidden;
  position: relative;
}
.slider-container .img-box li[data-v-012369dc]{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 101%;
}
.slider-container .img-box li a[data-v-012369dc], .slider-container .img-box li div[data-v-012369dc]{
  display: block;
  width: 100%;
  height: 100%;
}
.slider-container .img-box li img[data-v-012369dc]{
  width: 100%;
  height: 100%;
}
.slider-container .img-box li.selected[data-v-012369dc]{
  left: 0;
}
.slider-container .arrow[data-v-012369dc]{
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin-top: -25px
}
.slider-container .arrow.left[data-v-012369dc]{
  background: url(https://s10.mogucdn.com/pic/140915/aaaaaa_ieydkzjxhfswgzrummytambqhayde_35x35.png) no-repeat center;
  left: 5%;
}
.slider-container .arrow.right[data-v-012369dc]{
  right: 5%;
  background: url(https://s10.mogucdn.com/pic/140915/aaaaaa_ieygimbvmnsggzrummytambqmmyde_35x35.png) no-repeat center;
}
.slider-container .nav[data-v-012369dc]{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
.slider-container .nav li[data-v-012369dc]{
  overflow: hidden;
  display: inline-block;
  width: 11px;
  height: 13px;
  cursor: pointer;
  margin-left: 8px;
  background: url(https://s10.mogucdn.com/pic/140414/11cesk_kqzgisszozbdktcugfjeg5sckzsew_30x12.png) -1px 0
}
.slider-container .nav li.on[data-v-012369dc]{
  background-position: -18px 0;
}

[data-v-03672032],[data-v-03672032] :after,[data-v-03672032] :before{-moz-box-sizing:border-box;box-sizing:border-box}.meili-shoppc-module-basewall[data-v-03672032]{width:1225px;overflow:auto}.meili-shoppc-module-basewall .sort-tab[data-v-03672032]{width:1200px;margin-top:20px;border-bottom:1px solid #ccc;padding-bottom:10px}.meili-shoppc-module-basewall .sort-tab a[data-v-03672032]{width:40px;text-align:center;height:12px;line-height:12px;color:#666;display:inline-block;border-right:1px solid #cbcbcb}.meili-shoppc-module-basewall .sort-tab .on[data-v-03672032]{color:#f25}.meili-shoppc-module-basewall .goods-list[data-v-03672032]{overflow:hidden;padding-top:20px}.meili-shoppc-module-basewall .pagination-container[data-v-03672032]{margin-top:20px;text-align:center}</style><style type="text/css">.goods-item[data-v-4840f89e]{width:220px;height:410px;float:left;position:relative;overflow:hidden;margin:0 25px 25px 0;border:1px solid #f2f2f2;background:#fff}.goods-item .img-container[data-v-4840f89e]{display:block;width:220px;height:330px;background-size:100% auto;overflow:hidden}.goods-item .img-container .J_dynamic_img[data-v-4840f89e]{width:100%}.goods-item .img-container .tag[data-v-4840f89e]{position:absolute;top:0;left:10px;z-index:10;width:36px}.goods-item .goods-info-container[data-v-4840f89e]{display:block;height:76px;overflow:hidden;padding:8px;padding-top:0}.goods-item .goods-info-container .title[data-v-4840f89e]{line-height:20px;height:40px;position:relative;margin-top:6px;font-size:14px;width:100%;overflow:hidden;color:#666}.goods-item .goods-info-container .goods-info[data-v-4840f89e]{margin-top:4px;height:25px;line-height:25px;overflow:hidden;color:#333;width:100%}.goods-item .goods-info-container .goods-info .price-info[data-v-4840f89e]{float:left;color:#333;font-weight:700;font-size:16px}.goods-item .goods-info-container .goods-info .yahei[data-v-4840f89e]{font-family:arial,Hiragino Sans GB,Microsoft Yahei,微软雅黑,宋体,Tahoma,Arial,Helvetica,STHeiti}.goods-item .goods-info-container .goods-info .fav-num[data-v-4840f89e]{font-size:12px;color:#999;float:right}.goods-item .goods-info-container .goods-info .fav-num img[data-v-4840f89e]{height:15px;width:16px;vertical-align:-2px;margin-right:4px}.goods-item[data-v-4840f89e]:hover{border:1px solid #f57}</style><style type="text/css">
.pagination ul[data-v-14f9e3b4], .pagination li[data-v-14f9e3b4]{
    margin: 0px;
    padding: 0px;
}
.pagination li[data-v-14f9e3b4]{
    list-style: none;
    display: inline-block;
}
.pagination li:first-child>a[data-v-14f9e3b4] {
    margin-left: 0px
}
.pagination a[data-v-14f9e3b4]{
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    cursor: pointer
}
.pagination .active a[data-v-14f9e3b4]{
    color: #fff;
    cursor: default;
    background-color: #333;
    /*border-color: #337ab7;*/
}
.pagination i[data-v-14f9e3b4]{
    font-style:normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}


.puzzlePicture[data-v-2c43280f]{overflow:hidden}.puzzlePicture .titleBox[data-v-2c43280f]{height:55px;line-height:55px;width:1200px;margin:0 auto}.puzzlePicture .titleBox i[data-v-2c43280f]{height:27px;width:530px;border-bottom:1px solid #e3e3e3;display:inline-block}.puzzlePicture .titleBox p[data-v-2c43280f]{width:140px;display:inline-block;text-align:center;font-size:16px;color:#666}.puzzlePicture .type0[data-v-2c43280f]{position:relative;padding-left:470px;zoom:1}.puzzlePicture .type0 ul[data-v-2c43280f]{margin-right:-5px}.puzzlePicture .type0 ul .li0[data-v-2c43280f]{width:470px;height:755px;position:absolute;top:0;left:0;margin:0;overflow:hidden}.puzzlePicture .type0 ul li[data-v-2c43280f]{position:relative;overflow:hidden;width:240px;height:375px;float:left;margin:0 0 5px 5px}.puzzlePicture .type0 ul li a[data-v-2c43280f]{display:block;width:100%;height:100%;background-size:cover}.puzzlePicture .type0 ul li div[data-v-2c43280f]{width:100%;height:100%;background-size:cover}</style><style type="text/css">[data-v-cefccda8],[data-v-cefccda8] :after,[data-v-cefccda8] :before{-moz-box-sizing:border-box;box-sizing:border-box}.meili-shoppc-module-customwall[data-v-cefccda8]{width:1225px;overflow:auto;min-height:40px}.meili-shoppc-module-customwall .tips[data-v-cefccda8]{text-align:center;line-height:40px;font-size:16px;color:#333;background:#f5f5f5}.meili-shoppc-module-customwall .titleBox[data-v-cefccda8]{height:55px;line-height:55px;width:1200px;margin:0 auto}.meili-shoppc-module-customwall .titleBox i[data-v-cefccda8]{height:27px;width:530px;border-bottom:1px solid #e3e3e3;display:inline-block}.meili-shoppc-module-customwall .titleBox p[data-v-cefccda8]{width:140px;display:inline-block;text-align:center;font-size:16px;color:#666}</style><style type="text/css">.goods_item[data-v-0585f763]{width:220px;height:410px;float:left;position:relative;overflow:hidden;margin:0 25px 25px 0;border:1px solid #f2f2f2;background:#fff}.goods_item .img_container[data-v-0585f763]{display:block;width:220px;height:330px;overflow:hidden}.goods_item .img_container img[data-v-0585f763]{width:100%}.goods_item .img_container .tag[data-v-0585f763]{position:absolute;top:0;left:10px;z-index:10;width:36px}.goods_item .goods_info_container[data-v-0585f763]{display:block;height:76px;overflow:hidden;padding:8px;padding-top:0}.goods_item .goods_info_container .title[data-v-0585f763]{line-height:20px;color:#666;height:40px;position:relative;margin-top:6px;font-size:14px;width:100%;overflow:hidden}.goods_item .goods_info_container .goods_info[data-v-0585f763]{height:25px;line-height:25px;overflow:hidden;color:#333;width:100%}.goods_item .goods_info_container .goods_info .price_info[data-v-0585f763]{float:left;color:#333;font-weight:700;font-size:16px}.goods_item .goods_info_container .goods_info .yahei[data-v-0585f763]{font-family:arial,Hiragino Sans GB,Microsoft Yahei,微软雅黑,宋体,Tahoma,Arial,Helvetica,STHeiti}.goods_item .goods_info_container .goods_info .fav_num[data-v-0585f763]{font-size:12px;color:#999;float:right}.goods_item .goods_info_container .goods_info .fav_num img[data-v-0585f763]{height:15px;width:16px;vertical-align:-2px;margin-right:4px}.goods_item[data-v-0585f763]:hover{border:1px solid #f57}</style><style type="text/css">.meili-shoppc-module-coupons[data-v-0ad8bac8]{width:1200px;min-height:30px}.meili-shoppc-module-coupons .tips[data-v-0ad8bac8]{text-align:center;line-height:40px;font-size:16px;color:#333;background:#f5f5f5}.meili-shoppc-module-coupons .promotions[data-v-0ad8bac8]{width:100%;height:26px}.meili-shoppc-module-coupons .promotions li[data-v-0ad8bac8]{height:26px;float:left;font-size:16px;color:#333;margin-right:40px}.meili-shoppc-module-coupons .promotions li img[data-v-0ad8bac8]{width:26px;height:26px;margin-right:10px;float:left}.meili-shoppc-module-coupons .promotions li p[data-v-0ad8bac8]{margin-top:2px;float:left}.meili-shoppc-module-coupons .promotions .more[data-v-0ad8bac8]{float:right;cursor:pointer;position:relative;margin-right:0;font-size:16px}.meili-shoppc-module-coupons .promotions .more .morePromotions[data-v-0ad8bac8]{border-top:1px solid rgba(0,0,0,.15);display:none;position:absolute;right:0;top:25px;width:270px;background:#fff;box-shadow:0 5px 10px rgba(0,0,0,.15);background-color:#fff;padding-top:25px;list-style:initial;list-style-position:inside;z-index:999;cursor:auto}.meili-shoppc-module-coupons .promotions .more .morePromotions li[data-v-0ad8bac8]{color:#333;font-size:16px;margin-left:20px;margin-bottom:10px}.meili-shoppc-module-coupons .promotions .more:hover .morePromotions[data-v-0ad8bac8]{display:block}.meili-shoppc-module-coupons .couponsBox[data-v-0ad8bac8]{width:100%;overflow:hidden;position:relative;margin-top:20px}.meili-shoppc-module-coupons .couponsBox .coupons[data-v-0ad8bac8]{height:140px;overflow:hidden}.meili-shoppc-module-coupons .couponsBox .coupons li[data-v-0ad8bac8]{width:300px;float:left;background:#efefef;border-radius:8px;height:140px;margin-right:20px;padding:7px;-moz-box-sizing:border-box;box-sizing:border-box}.meili-shoppc-module-coupons .couponsBox .coupons li .box[data-v-0ad8bac8]{height:100%;border:1px solid #ddd;text-align:center}.meili-shoppc-module-coupons .couponsBox .coupons li .box .coupons_info .price_info[data-v-0ad8bac8]{display:inline-block;color:#333}.meili-shoppc-module-coupons .couponsBox .coupons li .box .coupons_info .price_info .price[data-v-0ad8bac8]{font-size:56px;vertical-align:middle}.meili-shoppc-module-coupons .couponsBox .coupons li .box .coupons_info .price_info .rmb[data-v-0ad8bac8]{font-size:30px}.meili-shoppc-module-coupons .couponsBox .coupons li .box .coupons_info .price_info .yahei[data-v-0ad8bac8]{font-family:arial,Hiragino Sans GB,Microsoft Yahei,微软雅黑,宋体,Tahoma,Arial,Helvetica,STHeiti}.meili-shoppc-module-coupons .couponsBox .coupons li .box .coupons_info .effects_info[data-v-0ad8bac8]{display:inline-block;text-align:left;vertical-align:middle}.meili-shoppc-module-coupons .couponsBox .coupons li .box .coupons_info .effects_info .info[data-v-0ad8bac8]{font-size:24px;color:#333;font-weight:700}.meili-shoppc-module-coupons .couponsBox .coupons li .box .coupons_info .effects_info .cutPrice[data-v-0ad8bac8]{font-size:16px;color:#333}.meili-shoppc-module-coupons .couponsBox .coupons li .box .get_coupons[data-v-0ad8bac8]{display:block;text-decoration:none;width:228px;height:36px;background:#f56;border-radius:4px;line-height:36px;color:#fff;font-size:18px;margin:auto}.meili-shoppc-module-coupons .leftArrow[data-v-0ad8bac8]{left:0;box-shadow:0 0 30px #999;border-top-left-radius:8px;border-bottom-left-radius:8px}.meili-shoppc-module-coupons .leftArrow[data-v-0ad8bac8],.meili-shoppc-module-coupons .rightArrow[data-v-0ad8bac8]{position:absolute;height:140px;width:36px;top:0;line-height:140px;font-size:22px;text-align:center;background:#efefef;color:#666;cursor:pointer}.meili-shoppc-module-coupons .rightArrow[data-v-0ad8bac8]{right:0;border-top-right-radius:8px;border-bottom-right-radius:8px;box-shadow:-5px 0 30px #999}.meili-shoppc-module-coupons .ui-tips[data-v-0ad8bac8]{position:fixed;left:0;top:0;z-index:10000;width:200px;height:50px;left:50%;top:50%;margin-left:-100px;margin-top:-50px}.meili-shoppc-module-coupons .ui-tips-text[data-v-0ad8bac8]{display:block;min-width:100px;max-width:80%;margin:0 auto;text-align:center;padding:10px 12px;line-height:1.42857143;color:#fff;background:#f56;border-radius:3px}</style><style type="text/css">.topslider-box{width:100%;overflow-x:hidden}.topslider-wrapper{width:1200px;margin:0 auto}.topslider-content{width:1920px;margin-left:-360px}</style><style type="text/css">
.slider-container[data-v-012369dc]{
  overflow: hidden;
  position: relative;
}
.slider-container .img-box li[data-v-012369dc]{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 101%;
}
.slider-container .img-box li a[data-v-012369dc], .slider-container .img-box li div[data-v-012369dc]{
  display: block;
  width: 100%;
  height: 100%;
}
.slider-container .img-box li img[data-v-012369dc]{
  width: 100%;
  height: 100%;
}
.slider-container .img-box li.selected[data-v-012369dc]{
  left: 0;
}
.slider-container .arrow[data-v-012369dc]{
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin-top: -25px
}
.slider-container .arrow.left[data-v-012369dc]{
  background: url(https://s10.mogucdn.com/pic/140915/aaaaaa_ieydkzjxhfswgzrummytambqhayde_35x35.png) no-repeat center;
  left: 5%;
}
.slider-container .arrow.right[data-v-012369dc]{
  right: 5%;
  background: url(https://s10.mogucdn.com/pic/140915/aaaaaa_ieygimbvmnsggzrummytambqmmyde_35x35.png) no-repeat center;
}
.slider-container .nav[data-v-012369dc]{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
.slider-container .nav li[data-v-012369dc]{
  overflow: hidden;
  display: inline-block;
  width: 11px;
  height: 13px;
  cursor: pointer;
  margin-left: 8px;
  background: url(https://s10.mogucdn.com/pic/140414/11cesk_kqzgisszozbdktcugfjeg5sckzsew_30x12.png) -1px 0
}
.slider-container .nav li.on[data-v-012369dc]{
  background-position: -18px 0;
}