.btn_btn{
	 border: 1px solid #CCC;  
        width: 90px;  
        height: 23px;  
}

.file_file{
	 width: 90px;  
        position: relative;  
        top:24px;
        left:-1px;
        cursor: pointer;  
        opacity: 0; 
        border:1px solid red; 
}



